<div class="container h-auto py-4 px-3 mb-16 relative">
  <% if user_signed_in? %>
    <% if @categories.exists? %>
      <% @categories.each do |category| %>
        <div class="card md:mt-8 flex w-auto justify-between items-center mb-4 border border-bdgt-borderLight shadow-lg">
          <div class="w-48 flex justify-start">
            <%= link_to category_path(category) do %>
              <% if category.image.attached? %>
                <%= image_tag category.image, skip_pipeline: true, alt: 'category image', class: "w-28 h-20 max-h-20 object-cover" %>
              <% end %>
            <% end %>
            <div class="flex flex-col justify-between">
              <%= link_to category.name, category_path(category), :class => "text-bdgt-Text text-lg font-bold" %>
              <span class="text-xs text-bdgt-Text">
                <%= category.created_at.strftime("%d/%m/%Y") %> at <%= category.created_at.strftime("%H:%M") %>
              </span>
            </div>
          </div>
          <div class="w-32 flex flex-col justify-start items-start px-2">
            <p class="price text-bdgt-Text">
              $<%= category.payments.sum(:amount) %>
            </p>
            <% if category.payments.empty? %>
              <span><%= button_to "Add Payment", new_category_payment_path(category), method: :get, :class => "text-bdgt" %></span>
            <% else %>
              <span><%= button_to "Delete",  category_path(category), method: :delete, :class => "text-bdgt-danger"  %></span>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div>
        <h2 class="text-center text-bdgt-Text text-xl mt-48">No Categories Available Now! <br /><span class="md:hidden">Click the button bellow to add a new category.</span></h2>
        <%= image_tag('arrowDown.svg', :alt => "arrow down icon", class:"h-10 w-10 p-0 fw-bold mx-auto mt-4 md:hidden") %>
      </div>
    <% end %>
  <% end %>
</div>
<% if can? :create, @category %>
  <span class="bg-gradient-to-r from-bdgt-secondary to-bdgt-green flex flex-col justify-center items-center fixed h-12 text-center text-bdgt-white bottom-0 left-0 right-0 md:hidden">
    <%= link_to "New category", new_category_path, class: "text-center" %>
  </span>
<% end %>
