<%= form_with(model: @category) do |form| %>
<header class=" bg-mySpend px-2 h-16 sm:px-4 py-2 sm:py-0 sticky w-full flex justify-center z-20 top-0 left-0">
  <nav class="container flex flex-wrap sm:flex-nowrap justify-between p-0 items-center mx-auto">
    <span><%= link_to image_tag('arrow_left.svg', class:"h-6 w-6 p-0 m-auto"), categories_path %></span>
    <span class="text-center text-white text-md">ADD CATEGORIES</span>
    <span>
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'text-white text-center'  %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path, :class => 'text-white text-center' %>
        <%= f.submit "Sign In", class: "text-white text center" %>
      <% end %>
    </span>
  </nav>
</header>
<div class="container p-0">
  <div class="card-body error-message">
    <% if @category.errors.any? %>
      <ul class="list-style-none p-0">
        <% @category.errors.full_messages.each do |message| %>
          <li class="text-danger fw-md text-ms text-center">* <%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="card-body bg-white shadow-md">
    <%= form.text_field :name, placeholder: "Name", class: "field w-full py-2 px-1 mb-3 bg-transparent text-md" %>
    <%=form.file_field :image, class: "field w-full py-2 px-1 mb-3 bg-transparent text-md" %>
    <%= button_to "SAVE", categories_path, method: :post, :class => "btn bg-primary w-32 text-white" %>
  </div>
</div>
<% end %>

