<%= form_with(model: @category) do |f| %>
<div class="container px-3 pt-12">
  <div class="card bg-bdgt-white">
    <%= f.text_field :name, placeholder: "Category name...", class: "field w-full py-2 px-1 mb-3 bg-transparent text-md" , required: true %>
    <%= f.file_field :image, id: "category_image", class: "field w-full py-2 px-1 mb-3 bg-transparent text-md", onchange: "previewImage()", required: true %>
    <div id="preview-image" class="hidden"></div>
    <div class="flex justify-between items-center py-4">
      <%= button_to "SAVE", categories_path, method: :post, :class => "bg-bdgt-green w-32 text-bdgt-white py-2" %>
      <div class="w-32 bg-bdgt-danger text-center text-bdgt-white py-2">
        <%= link_to "CANCEL", root_path %>
      </div>
    </div>
  </div>
</div>
<% end %>

<script>
  function previewImage() {
    const previewImage = document.getElementById("preview-image");
    const file = document.getElementById("category_image").files[0];
    const reader = new FileReader();
    reader.addEventListener("load", function () {
      previewImage.style.display = "block";
      previewImage.innerHTML = '<img src="' + reader.result + '" style="height: auto; width: 100%; max-width: 100%; max-height: 250px; border-radius: 2px; object-fit: cover;" />';
      },
      false
    ); 
    if (file) { 
      reader.readAsDataURL(file); 
    }
  }
</script>