<div class="container px-3 pt-4">
  <% if @payments.exists? %>
    <div class="container p-0 w-full h-auto">
      <% @payments.each do |payment| %>
        <div class="h-auto mt-4 md:mt-8 lg:mt-12 flex justify-between border-b items-center">
          <div class="flex flex-col">
            <span class="text-mySpend-Text fw-600 mb-2 text-lg">
              <%= payment.name %>
            </span>
            <span class="text-mySpend-TextLight">
              <%= payment.created_at.strftime("%d/%m/%Y") %> at <%= payment.created_at.strftime("%H:%M") %>
            </span>
          </div>
          <span class="text-bdgt-TextLight text-lg">
            $<%= payment.amount %>
          </span>
        </div>
      <% end %>
        <div class="flex justify-between items-center mt-8">
          <div class="w-32 bg-bdgt-green text-center text-bdgt-white py-2">
            <%= link_to "New Payment", new_category_payment_path(@category), class: "text-center" %>
          </div>
          <div class="w-32 bg-bdgt-danger text-center text-bdgt-white py-2">
            <%= link_to "Back", root_path %>
          </div>
        </div>
    </div>
    <% else %>
      <div>
        <h2 class="text-center text-bdgt-Text text-xl mt-48">No Payments Available Now! <br /><span class="">Click the button bellow to add a new payment.</span></h2>
        <%= image_tag('arrowDown.svg', :alt => "arrow down icon", class:"h-10 w-10 p-0 fw-bold mx-auto mt-4 md:hidden") %>
      </div>
    <% end %>
</div>
<span class="bg-gradient-to-r from-bdgt-secondary to-bdgt-green flex flex-col justify-center items-center fixed h-12 text-center text-bdgt-white bottom-0 left-0 right-0 md:hidden">
  <%= link_to "New Payment", new_category_payment_path(@category), class: "text-center" %>
</span>