<!DOCTYPE html>
<html>
  <head>
    <title>budget-app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body>
  <% if user_signed_in? %>
    <main class="root relative container-fluid md:flex p-0 h-auto pt-16">
      <%= render 'layouts/header' %>
      <%= yield %>
      <% if notice %>
        <%= render 'layouts/notice' %>
      <% end %>
      <% if alert %>
        <%= render 'layouts/alert' %>
      <% end %>
    </main>
  <% else %>
    <main class="root container-fluid h-auto">
      <%= yield %>
    </main>
  <% end %>
</body>
</html>
